VITE_DOMAIN=https://sesc-it-team.ru
VITE_AUTH_DOMAIN=https://auth.sesc-it-team.ru


VITE_AUTH_PATH=/api/auth
VITE_AUTH_CALLBACK_PATH=/auth/callback


VITE_AUTH_SCOPES=openid profile email offline_access auth:users:read auth:users:create auth:users:update auth:users:delete